@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DevOps using VSTS - Delta 3</h1>
    <p class="lead">DevOps Project</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    Some sample text !!!
</div>